<script src="script.js"></script>body {
  font-family: Arial;
  padding: 20px;
}
li {
  margin-top: 10px;
  cursor: pointer;
}

button {
  margin-left: 10px;
}
.container {
  max-width: 400px;
  margin: auto;
}
input {
  padding: 10px;
  width: 70%;
}

button {
  padding: 10px;
}
li:hover {
  background: #f0f0f0;
}
.dark {
  background: #111;
  color: white;
}