<script src="script.js"></script>body {
  font-family: Arial;
  padding: 20px;
}
li {
  margin-top: 10px;
  cursor: pointer;
}

button {
  margin-left: 10px;
}
.container {
  max-width: 400px;
  margin: auto;
}
input {
  padding: 10px;
  width: 70%;
}

button {
  padding: 10px;
}
li:hover {
  background: #f0f0f0;
}
.dark {
  background: #111;
  color: white;
}
.done {
  text-decoration: line-through;
  opacity: 0.6;
}
button {
  cursor: pointer;
  border: none;
  background: #ddd;
  border-radius: 5px;
}
h1 {
  text-align: center;
}

div {
  margin-bottom: 10px;
}
.dragging {
  opacity: 0.5;
}
li {
  transition: all 0.2s ease;
}

li:hover {
  transform: scale(1.02);
}